*{
    margin: 0px;
}

header{
    text-align: center;
}

.logo{
    height: 6rem;
    margin-top: 1.5rem ;
}

ul{
    padding: 0%;
}

button{
    border: none;
    background-color: transparent;
    color:white;
    padding: 10px;
}

.enterprise_name{
    color: #D04F50;
}

.search{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #E7E7E7;
    width: 80%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

#site-search{
    border: none;
    height: 30px;
    width: 100%;
    background-color: #E7E7E7;
}

.fa-magnifying-glass{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.first-color{
    background-color: #3381F7;
    color: white;
}

.second-color{
    background-color: #ED6454;
    color: white;
}

.third-color{
    background-color: #68DAA4;
    color: white;
}
/********** TAG *****************************/ 

.tag{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
}

.tag-btn{
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.fa-circle-xmark{
    color: white;
    margin-left: 0.4rem;
}

/********** FILTER *****************************/ 

.filter {
    margin-top: 2rem;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
  }
  /*BUTTON********************/
 
.filter-containt {
display: flex;
border-radius: 7px 7px 7px 7px;
margin-right: 2rem;
}

.filter-button{
display: flex;
align-items: center;
margin: 0.5rem;
}

.filter-input {
justify-content: space-between;
flex: 1;
display: none;
align-items: center;
margin: 0.5rem;
width: 34rem;
}

#ingredients-select{
display: none;
flex-wrap: wrap;
list-style: none;
position: absolute;
z-index: 999;
background-color: #3381F7;
color: #E7E7E7;
flex: 1;
width: 35rem;
top: 90%; 
border-radius: 0 0 7px 7px;
}

.input-ingredient{
background-color: #3381F7;
color: white;
pointer-events: auto;
}

.recipe-container {
display: flex;
justify-content: space-between;
}

#ustensils-select{
    display: none;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    z-index: 999;
    background-color: #68DAA4;
    flex: 1;
    top: 90%; 
    width: 35rem;
    border-radius: 0 0 7px 7px;
  }

.input-ustensil{
  background-color:#68DAA4;
}

#appliances-select{
    display: none;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    z-index: 999;
    background-color: #ED6454;
    color: #E7E7E7;
    flex: 1;
    width: 35rem;
    top: 90%; 
    border-radius: 0 0 7px 7px;
}

.input-appliance{
    background-color:#ED6454;
}

.ustensil-list{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 1rem;
}

.appliance-list{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 1rem;
}

.ingredient-list{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 1rem;
}


/* MAIN */ 

main{
    margin-left: 10%;
    margin-right: 10%;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 20rem; 
    margin-top: 2rem;
}

.card-img-top{
    height: 10rem;
    background-color:#C7BEBE ;
}

.flex{
    display: flex ;
    justify-content: space-between;
    max-height: 100%;
}
.card-body{
    height:13rem ;
    margin-bottom: 2rem;
    overflow: scroll;
}

.card-description{
    font-size: 0.7rem;
    width: 50%;

}

.ingredients-list{
    font-size: 0.7rem;
    width: 50%;
    margin-right: 1rem;
    }
    
.ingredients-list > ul {
    list-style: none;
}

/* voir si utilisé en fin de développement */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}